* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(56, 110, 210);
}
.container_box {
    width: 200px;
    height: 200px;
    display: flex;
}

.box {
    width: 200px;
    height: 200px;
    background-color: violet;
    opacity: 50%;
    transition: all 1s;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: violet;
    opacity: 30%;
    transition: all 1s;
    position: absolute;
}
.box3 {
    width: 200px;
    height: 200px;
    background-color: violet;
    transition: all 1s;
    position: absolute;
}
.container_box:hover .box {
    transform: translate(20px, 20px);
    transition: all 1s;
}
.container_box:hover .box3 {
    transform: translate(40px, 40px);
    transition: all 1s;
}
.box4 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: all 1s;
    position: absolute;
    opacity: 70%;
    border-radius: 30px;
}
.box5 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: all 1s;
    position: absolute;
    opacity: 40%;
    border-radius: 30px;
}.box6 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: all 1s;
    position: absolute;
    border-radius: 30px;
}
.container-relative:hover .box6{
    transform: rotate(40deg);
    transition: 1s all;
}
.container-relative:hover .box4{
    transform: rotate(20deg);
    transition: 1s all;
}
.box7 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition: all 1s;
    position: absolute;
    border-radius: 50%;
    opacity: 50%;
}
.box8 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition: all 1s;
    position: absolute;
    border-radius: 50%;
    opacity: 30%;
}
.box9 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition: all 1s;
    border-radius: 50%;
}
.container-scale:hover .box9{
    transform: translateX(-60px);
    transition: 1s all;
}
.container-scale:hover .box7{
    transform: translateX(-30px);
    transition: 1s all;
}
.container-relative{
    width: 200px;
    height: 200px;
    display: flex;
}
.parent-cantainers{
    display: flex;
    justify-content: center;
    padding-top: 300px;
    gap: 300px;
}